.container {
  text-align: center;
  width: 100%;
}

.background-image {
  overflow: hidden;
  border: 4px solid green;
  opacity: 0.6;
  max-height: 300px;
  margin-bottom: 20px;
  margin-top: 30px;
  /* margin-left: 250px; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.background-image:hover {
  /* color: black; */
  cursor: pointer;
}

.push-ups {
  position: absolute;
  left: 63%;
  top: 18%;
  transform: translate(-50%, -50%);
}

.sit-ups {
  position: absolute;
  left: 60%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.squats {
  position: absolute;
  left: 60%;
  top: 82%;
  transform: translate(-50%, -50%);
}


