* {
  font-family: "Ubuntu", sans-serif;
}

body {
  background-color: #fff;
  background: linear-gradient(to left, #e6e6fa, #fff);
}

.color-nav {
  background-color: #fff;
  border-bottom: 1px solid #dcdcdc;
}

.title {
  text-align: center;
  margin-top: 45px;
  width: 100%;
  color: #3b3a36;
}

.pre-post-activity {
  text-align: center;
  margin-bottom: 60px;
  margin-top: 60px;
}

.posted-activity {
  text-align: center;
  margin-bottom: 40px;
  margin-top: 20px;
}

.icon-comment {
  background-color: #c0c0c0;
  border: #c0c0c0;
}
.icon-comment:hover {
  background-color: #3b3a36;
  border: #3b3a36;
}

#trash:hover {
  cursor: pointer;
}

/* buttons */
#start-session-button {
  background-color: #ffa07a;
  border: #ffa07a;
  margin-bottom: 60px;
  margin-top: 40px;
}
#start-session-button:hover {
  background-color: #3b3a36;
  border: #3b3a36;
}

#post-button {
  background-color: #ffa07a;
  border: #ffa07a;
  margin-top: 20px;
  margin-top: 20px;
}
#post-button:hover {
  background-color: #3b3a36;
  border: #3b3a36;
}

#logout-button {
  background-color: #dcdcdc;
  border: #dcdcdc;
}
#logout-button:hover {
  background-color: #3b3a36;
  border: #3b3a36;
}

.spinner-border {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* images */
.background-image {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: wrap column;
  overflow: hidden;
  opacity: 0.6;
  max-height: 300px;
  margin-bottom: 20px;
  margin-top: 60px;
  /* add shadow here */
}

.background-image:hover {
  cursor: pointer;
}

.push-ups {
  position: absolute;
  left: 63%;
  top: 18%;
  transform: translate(-50%, -50%);
}

.sit-ups {
  position: absolute;
  left: 60%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.squats {
  position: absolute;
  left: 60%;
  top: 82%;
  transform: translate(-50%, -50%);
}
